In [ ]:
import sqlparse

In [ ]:
hive_sql_insert = '''
INSERT overwrite TABLE db.dest_tbl
select
    site_id,
    res_id ,
    res_price,
from   db.src_tbl src
where site_id = 1
'''

In [ ]:
sql = sqlparse.format(hive_sql_insert, reindent=True, keyword_case='upper')
sql

In [ ]:
# Parsing a SQL statement:
parsed = sqlparse.parse(sql)[0]
parsed.get_type()

In [ ]:
parsed.tokens

In [ ]:
lst = []
for t in parsed.tokens:
    lst.append(t.value)
lst