In [ ]:
import sqlparse

In [ ]:
# Split a string containing two SQL statements:
raw = 'select * from foo; select * from bar;'
statements = sqlparse.split(raw)
statements

In [ ]:
# Format the first statement and print it out:
first = statements[0]
print(sqlparse.format(first, reindent=True, keyword_case='upper'))

In [ ]:
# Parsing a SQL statement:
parsed = sqlparse.parse('select * from foo')[0]
parsed.tokens

In [ ]:
parsed.get_type()